{% extends 'base.html.twig' %}

{% block title %} Hello BoardGameController ! {% endblock %}

{% block body %}

    <h1>Liste des jeux de société</h1>
    <ul>
        {% for board_game in board_games %}

        <li> <a href=" {{ path('board_game_show', {'id' : board_game.id}) }}"> {{ board_game.name }} </a> </li>
        {% endfor %}
    </ul>

{% endblock body %}